%body
	%h2
		Welcome to the Bike Shop Order Tracker!!!
	%h1 
		=link_to 'Orders', '/orders'
	%p 
		Total unpaid orders: 
		=@unpaid_order_count
	%p
		Total uncompleted orders:
		=Order.uncompleted.count

